---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif      : Georgia, Times, serif;
$sans-serif :  "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$sans-serif-narrow  : "PT Sans Narrow", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

$global-font-family : $sans-serif;
$header-font-family : $sans-serif-narrow;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.mr-1 {
   margin-right: 8px;
 }
.list_item {
  margin-bottom: 16px;
}
.list_item a.downloadable-items {
  #display: flex;
  align-items: baseline;
}
.list_item p {
  margin: 0;
}
.list_item .venue-year {
  font-style: italic;
}
span.own-name {
  text-decoration: underline;
}
